* {
  font-family: 'Poppins', sans-serif;
  letter-spacing: -0.05em;
}

.header {
  height: 12.5vh;
  display: flex;
  padding: 0px !important;
  margin: 0px !important;
  background-color: #2196f3;
}

#drawerButton {
  width: 12.5vh;
  display: flex;
  justify-content: center;
}

#navBar {
  width: 12.5vh;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: -0.075em;
  color: white;
  line-height: 1em;
  padding: 0px !important;
  margin: 0px !important;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: -0.05em;
  /* color: white; */
  padding: 0px !important;
  margin: 0px !important;
}

h1:hover,
h2:hover {
  cursor: default;
}

h3 {
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 2.5em;
  /* color: white; */
  padding: 0px !important;
  margin: 0px !important;
}

h4 {
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: -0.05em;
  /* color: white; */
  padding: 0px !important;
  margin: 0px !important;
}

h5 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: -0.05em;
  /* color: white; */
  padding: 0px !important;
  margin: 0px !important;
}

p {
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: -0.05em;
  padding: 0px !important;
  margin: 0px !important;
}

#filter {
  background-color: #757575;
  margin-top: 12.4vh;
  padding: 0% 5% 0% 5%;
  color: rgb(255, 255, 255);
  height: inherit;
}

.horizontalBoxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: -2.5% 0% -2.5% 0%;
}

.cardTimes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardSetup {
  margin: 2% 0% 2% 0%;
  color: gray;
}

#button {
  margin: 5% 0% 0% 0%;
}

#main {
  margin-top: 12.5vh;
  margin-bottom: 4vh;
  padding: 1% !important;
}

.subHeader {
  margin-top: -2.5vh;
  padding: 0px 16px 16px 16px;
}

.gameCard {
  display: grid;
  grid-template-columns: repeat(3, 1FR);
  grid-template-rows: repeat(3, 1FR);
  row-gap: 3vmin;
}

.cardStyle {
  transition: transform 0.2s ease-in-out;
}

.cardStyle:hover {
  transform: scale(1.025);
}

/* 
#card {
  background-color: white;
  font-family: 'Rubik', sans-serif;
  height: 400px;
  margin: 30px;
  border-radius: 10px;
  padding: 20px;
  min-width: 675px;
  box-shadow: 10px 10px 20px gray;
  transition-duration: 0.5s;
} */

.detailCard {
  width: 100%;
}

.createGameCardContainer {
  display: flex;
  height: 81vh;
  margin: 0 !important;
}

.createGameCard {
  min-width: none;
  border-radius: 15px;
  flex-grow: 1;
  margin: 5%;
}

#chip {
  background-color: #2196f3;
  color: rgb(255, 255, 255);
  font-size: 0.65em;
  margin-right: 5px;
}

/* #gameContainer {
  display: flex;
} */

/* @media screen and (max-width: 1000px) {
  .gameCard {
    display: grid;
    grid-template-columns: repeat(3, 1FR);
    grid-template-rows: repeat(3, 1FR);
  }
} */
