* {
  font-family: 'Poppins', sans-serif;
  letter-spacing: -0.05em;
}

.header {
  height: 12.5vh;
  display: flex;
  padding: 0px !important;
  margin: 0px !important;
  background-color: #2196f3;
}

#drawerButton {
  width: 12.5vh;
  display: flex;
  justify-content: center;
}

#navBar {
  width: 12.5vh;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: -0.075em;
  color: white;
  line-height: 1em;
  padding: 0px !important;
  margin: 0px !important;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: -0.05em;
  padding: 0px !important;
  margin: 0px !important;
}

h1:hover,
h2:hover {
  cursor: default;
}

h3 {
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 2.5em;
  padding: 0px !important;
  margin: 0px !important;
}

h4 {
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: -0.05em;
  padding: 0px !important;
  margin: 0px !important;
}

h5 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: -0.05em;
  padding: 0px !important;
  margin: 0px !important;
}

h6 {
    font-weight: 600;
}

p {
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: -0.05em;
  padding: 0px !important;
  margin: 0px !important;
}

#filter {
  background-color: #757575;
  margin-top: 12.4vh;
  padding: 9% 8% 4% 8%;
  color: rgb(255, 255, 255);
  height: inherit;
}

.horizontalBoxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: -2.5% 0% -2.5% 0%;
}

.cardTimes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardSetup {
  margin: 0.5em 0em 0.5em 0em;
  color: gray;
}

#button {
  margin: 5% 0% 0% 0%;
}

#main {
  margin-top: 12.5vh;
  margin-bottom: 4vh;
  padding: 1% !important;
}

.subHeader {
  margin-top: -2.5vh;
  padding: 0px 16px 16px 16px;
}

.gameCard {
  display: grid;
  grid-template-columns: repeat(3, 1FR);
  grid-template-rows: repeat(3, 1FR);
  row-gap: 3vmin;
}

.cardStyle {
  transition: transform 0.2s ease-in-out;
}

.cardStyle:hover {
  transform: scale(1.025);
}

.detailCard {
  width: 100%;
}

.createGameCardContainer {
  display: flex;
  height: 81vh;
  margin: 0 !important;
}

#chip {
  background-color: #2196f3;
  color: rgb(255, 255, 255);
  font-size: 0.65em;
  margin: 0em 0.5em 0.5em 0em;
}

#createSubmit {
  position: absolute;
  bottom: 1;
  margin-bottom: 4em;
}

.poppins.className:hover {
  text-decoration: underline;
}

/* @media screen and (max-width: 1000px) {
  .gameCard {
    display: grid;
    grid-template-columns: repeat(3, 1FR);
    grid-template-rows: repeat(3, 1FR);
  }
} */